<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <div class="card-body ">

                    <div class="centrado">
                        <div class="lds-roller" id="unload">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <br>
                    <div class="load-message">
                        <p>
                            Preparando datos, por favor espere...
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>