<!--Pestañas-->
<nav class="top">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-document-tab" data-toggle="tab" href="#nav-document" role="tab" aria-controls="nav-document" aria-selected="true">Documento</a>
        <a class="nav-item nav-link " id="nav-transaccion-tab" data-toggle="tab" href="#nav-transaccion" role="tab" aria-controls="nav-transaccion" aria-selected="false">Transacción</a>
    </div>
</nav>

<!--Contenido pestañas-->
<div class="tab-content top" id="nav-tabContent">
    <!--Pestaña Documento-->
    <div class="tab-pane fade show active" id="nav-document" role="tabpanel" aria-labelledby="nav-document-tab">
        <div class="container top" *ngIf="!listaCuentas && !listaColaborador">
            <div class="row align-items-end">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="center100">
                        <label class="menu1" for="optSerie">Serie</label>
                        <select class="largeOpt" id="optSerie">
                                <!--Series-->
                            </select>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 topNom">
                    <div class="center100 blockmov" *ngIf="cuentaIdentity">
                        <div>
                            <label>NIT</label>
                        </div>
                        <input type="text" class="input100" class="input100" readonly="readonly" value="{{cuentaIdentity.NIT}}">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="center100 topNom blockmov" *ngIf="cuentaIdentity">
                        <div>
                            <label>Nombre</label>
                        </div>
                        <input type="text" class="input100" readonly="readonly" value="{{cuentaIdentity.Nombre}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="container top" *ngIf="!listaCuentas && !listaColaborador">
            <div class="row top borderblock align-items-end">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 top">
                    <div class="center100">
                        <div>
                            <label>Referencia</label>
                        </div>
                        <input type="text" class="input100">
                        <i class="fas fa-search" id="searchClient"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 top">
                    <div class="center100">
                        <div>
                            <label>Cuenta</label>
                        </div>
                        <input *ngIf="!cuentaIdentity" type="text" class="input100" #Cuenta="ngModel" name="Cuenta" [(ngModel)]="buscar_cuenta_correntista.buscar">
                        <i *ngIf="!cuentaIdentity" class="fas fa-search" id="searchClient" (click)="buscarCenta()"></i>
                    </div>
                    <div class="center100" *ngIf="cuentaIdentity && !listaCuentas">
                        <label>Nombre: {{cuentaIdentity.Nombre}}</label>
                        <i class="fas fa-ban" id="searchClient" (click)="editarCuenta()"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 top">
                    <div class="center100">
                        <div>
                            <label>Colaborador</label>
                        </div>
                        <input *ngIf="!colaboradorIdentity" type="text" class="input100" #Colaborador="ngModel" name="Colaborador" [(ngModel)]="buscar_cuenta_correntistaColaborador.buscar">
                        <i *ngIf="!colaboradorIdentity" class="fas fa-search" id="searchClient" (click)="buscarColaborador()"></i>
                    </div>
                    <div class="center100" *ngIf="colaboradorIdentity">
                        <label>Nombre: {{colaboradorIdentity.Nombre}}</label>
                        <i class="fas fa-ban" id="searchClient" (click)="editarColaborador()"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 top">
                    <div class="center100">
                        <div>
                            <label>Visualizar Observacion</label>
                        </div>
                        <textarea></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" *ngIf="!listaCuentas && !listaColaborador">
            <div class="row">
                <div class="col">
                    <div id="error" *ngIf="errorMessage" class="text-center">
                        <div class="alert text-danger" role="alert">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top" *ngIf="!listaCuentas && !listaColaborador">
            <div class="row top">
                <div class="col-lg-3 col-md-3">
                    <div class="center100">
                        <div>
                            <label>Fecha Inicial</label>
                        </div>
                        <input type="datetime-local" class="input10">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 ">
                    <div class="center100 topNom">
                        <div>
                            <label>Fecha Final</label>
                        </div>
                        <input type="datetime-local" class="input10">
                    </div>
                </div>
                <div class="col-lg-9 col-md-6"></div>
            </div>
        </div>

        <!--Buscar cuentas lista-->
        <div class="container top" *ngIf="listaCuentas">
            <div class="row">
                <form #clinteForm="ngForm">
                    <div class="menu10">
                        <label>Filtrar por: </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"><input type="radio" name="filtro" value="Nombre" checked>Nombre</label>
                        <label class="radio-inline"><input type="radio" name="filtro" value="Id">Id. Cuenta</label>
                        <label class="radio-inline"><input type="radio" name="filtro" value="NIT">NIT</label>
                    </div>
                    <div class="form-group">
                        <div class="center100">
                            <div>
                                <label>Cuenta</label>
                            </div>
                            <input *ngIf="!cuentaIdentity" type="text" class="input100" #Cuenta="ngModel" name="Cuenta" [(ngModel)]="buscar_cuenta_correntista.buscar">
                            <i *ngIf="!cuentaIdentity" class="fas fa-search" id="searchClient" (click)="buscarCuentaLista()"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container" *ngIf="listaCuentas">
            <div class="row">
                <div class="col">
                    <div id="error" *ngIf="errorMessageListCuent" class="text-center">
                        <div class="alert text-danger" role="alert">
                            {{errorMessageListCuent}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top" *ngIf="listaCuentas">
            <div class="table-responsive" id="tableSearch">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="border-dark"></th>
                            <th scope="col" class="border-dark">Id</th>
                            <th scope="col" class="border-dark">Nombre</th>
                            <th scope="col" class="border-dark">NIT</th>
                            <th scope="col" class="border-dark">Télefono</th>
                            <th scope="col" class="border-dark">Celular</th>
                            <th scope="col" class="border-dark">E-mail</th>
                            <th scope="col" class="border-dark">Dirección</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let listClientIdentity of listaCuentas" class="border-dark">
                        <tr>
                            <td *ngIf="!_selectC"><i class="far fa-check-circle" id="selectC" (click)="selectC()"></i>
                            </td>
                            <td *ngIf="_selectC"><i class="fas fa-ban" id="selectC" (click)="selectCC()"></i></td>
                            <td>{{this.listClientIdentity.ID_Cuenta}}</td>
                            <td>{{this.listClientIdentity.Nombre}}</td>
                            <td>{{this.listClientIdentity.NIT}}</td>
                            <td>{{this.listClientIdentity.Telefono}}</td>
                            <td>{{this.listClientIdentity.Celular}}</td>
                            <td>{{this.listClientIdentity.Email}}</td>
                            <td>{{this.listClientIdentity.Direccion}}</td>
                        </tr>
                    </tbody>
                    <!--Borde inferior-->
                    <tbody class="border-dark">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!---->

        <!--Buscar colaborador Lista-->
        <div class="container top" *ngIf="listaColaborador">
            <div class="row">
                <form #clinteForm="ngForm">
                    <div class="menu10">
                        <label>Filtrar por: </label>
                    </div>
                    <div class="form-group">
                        <label class="radio-inline"><input type="radio" name="filtro" value="Nombre" checked>Nombre</label>
                        <label class="radio-inline"><input type="radio" name="filtro" value="Id">Id. Cuenta</label>
                        <label class="radio-inline"><input type="radio" name="filtro" value="NIT">NIT</label>
                    </div>
                    <div class="form-group">
                        <div class="center100">
                            <div>
                                <label>Colaborador</label>
                            </div>
                            <input *ngIf="!colaboradorIdentity" type="text" class="input100" #Colaborador="ngModel" name="Colaborador" [(ngModel)]="buscar_cuenta_correntistaColaborador.buscar">
                            <i *ngIf="!colaboradorIdentity" class="fas fa-search" id="searchClient" (click)="buscarColaboradorLista()"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container" *ngIf="listaColaborador">
            <div class="row">
                <div class="col">
                    <div id="error" *ngIf="errorMessageListColaborador" class="text-center">
                        <div class="alert text-danger" role="alert">
                            {{errorMessageListColaborador}}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container top" *ngIf="listaColaborador">
            <div class="table-responsive" id="tableSearch">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="border-dark"></th>
                            <th scope="col" class="border-dark">Id</th>
                            <th scope="col" class="border-dark">Nombre</th>
                            <th scope="col" class="border-dark">NIT</th>
                            <th scope="col" class="border-dark">Télefono</th>
                            <th scope="col" class="border-dark">Celular</th>
                            <th scope="col" class="border-dark">E-mail</th>
                            <th scope="col" class="border-dark">Dirección</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let listClientIdentity of listaColaborador" class="border-dark">
                        <tr>
                            <td *ngIf="!_selectC"><i class="far fa-check-circle" id="selectC" (click)="selectC()"></i>
                            </td>
                            <td *ngIf="_selectC"><i class="fas fa-ban" id="selectC" (click)="selectCC()"></i></td>
                            <td>{{this.listClientIdentity.ID_Cuenta}}</td>
                            <td>{{this.listClientIdentity.Nombre}}</td>
                            <td>{{this.listClientIdentity.NIT}}</td>
                            <td>{{this.listClientIdentity.Telefono}}</td>
                            <td>{{this.listClientIdentity.Celular}}</td>
                            <td>{{this.listClientIdentity.Email}}</td>
                            <td>{{this.listClientIdentity.Direccion}}</td>
                        </tr>
                    </tbody>
                    <!--Borde inferior-->
                    <tbody class="border-dark">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!---->
    </div>

    <!--Pestaña Transaccion -->
    <div class="tab-pane fade" id="nav-transaccion" role="tabpanel" aria-labelledby="nav-transaccion-tab">

        <!--Inventario oculto ngIf-->
        <div class="container" *ngIf="listProdIdentity">
            <div class="row align-items-end">
                <div class="col-lg-2 col-md-2 col col">
                    <div>
                        <label class="label12">Cantidad:</label>
                    </div>
                    <input type="number" class="input1000" value="1">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 top top2">
                    <form>
                        <div>
                            <input type="text" #producto="ngModel" name="producto" [(ngModel)]="buscar_producto.buscar" class="input100" placeholder="Producto/Servicio" required autofocus>
                            <i *ngIf="!prodIdentity" class="fas fa-search" id="searchClient" (click)="SearchProdInv()"></i>
                            <i *ngIf="prodIdentity" class="far fa-check-circle" id="searchClient" (click)="selectProdInv()"></i>
                            <i *ngIf="prodIdentity" class="fas fa-ban" id="searchClient" (click)="cancelProd()"></i>
                        </div>
                    </form>
                </div>

                <div class="col top top2">
                    <div><label class="label12">Monto Unidad</label></div>
                    <input type="text" value="0.00" class="input1000">
                </div>
                <div class="col top top2">
                    <div><label class="label12">Monto</label></div>
                    <input type="text" value="0.00" class="input1000">
                </div>
            </div>
        </div>

        <div class="container top top2" *ngIf="prodIdentity && listProdIdentity">
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col">
                    <div id="error">
                        <div class="alert text-alert col-lg-4 col-md-4" role="alert">
                            <div>
                                <Label>Existencias:<input type="text " class="input1000 " readonly="readonly " value="{{prodIdentity.Cantidad}} "></Label>
                            </div>
                            <label class="prodInfo ">Producto: {{prodIdentity.Producto}}</label><br>
                            <label class="prodInfo ">Unidad: {{prodIdentity.Unidad}}</label><br>
                            <label class="prodInfo ">Id: {{prodIdentity.Id}}</label><br>
                            <label class="prodInfo ">Clase Producto: {{prodIdentity.Clase_Producto}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top" *ngIf="listProdIdentity && erroMessageListInvent">
            <div id="error" class="text-center">
                <div class="alert text-danger" role="alert">
                    {{erroMessageListInvent}}
                </div>
            </div>
        </div>

        <div class="top" *ngIf="listProdIdentity">
            <div class="container">
                <div id="error" class="text-center">
                    <div class="alert text-danger" role="alert">
                        Inventario
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th scope="col " class="border-dark "></th>
                                <th scope="col " class="border-dark ">Bodega</th>
                                <th scope="col " class="border-dark ">Id</th>
                                <th scope="col " class="border-dark ">Producto</th>
                                <th scope="col " class="border-dark ">Unidad</th>
                                <th scope="col " class="border-dark ">Clase Producto</th>
                                <th scope="col " class="border-dark ">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let _listProdIdentity of listProdIdentity " class="border-dark ">
                            <tr>
                                <td *ngIf="!_selectC "><i class="far fa-check-circle " id="selectC " (click)="selectC() "></i>
                                </td>
                                <td *ngIf="_selectC "><i class="fas fa-ban " id="selectC " (click)="selectCC() "></i></td>
                                <td>{{this._listProdIdentity.Bodega}}</td>
                                <td>{{this._listProdIdentity.Id}}</td>
                                <td>{{this._listProdIdentity.Producto}}</td>
                                <td>{{this._listProdIdentity.Unidad}}</td>
                                <td>{{this._listProdIdentity.Clase_Producto}}</td>
                                <td>{{this._listProdIdentity.Cantidad}}</td>
                            </tr>
                        </tbody>
                        <!--Borde inferior-->
                        <tbody class="border-dark ">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!---->

        <div class="container" *ngIf="!listProdIdentity">
            <div class="row align-items-end">
                <div class="col-lg-2 col-md-2 col col">
                    <div>
                        <label class="label12">Cantidad:</label>
                    </div>
                    <input type="number" class="input1000" value="1">
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 top top2">
                    <form>
                        <div>
                            <input type="text" #producto="ngModel" name="producto" [(ngModel)]="buscar_producto.buscar" class="input100" placeholder="Producto/Servicio" required autofocus>
                            <i *ngIf="!prodIdentity" class="fas fa-search" id="searchClient" (click)="SearchProd()"></i>
                            <i *ngIf="prodIdentity" class="far fa-check-circle" id="searchClient" (click)="selectProd()"></i>
                            <i *ngIf="prodIdentity" class="fas fa-ban" id="searchClient" (click)="cancelProd()"></i>
                        </div>
                    </form>
                </div>

                <div class="col top top2">
                    <div><label class="label12">Monto Unidad</label></div>
                    <input type="text" value="0.00" class="input1000">
                </div>
                <div class="col top top2">
                    <div><label class="label12">Monto</label></div>
                    <input type="text" value="0.00" class="input1000">
                </div>
            </div>
        </div>

        <div class="container top top2" *ngIf="prodIdentity && !listProdIdentity">
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col">
                    <div id="error">
                        <div class="alert text-alert col-lg-4 col-md-4" role="alert">
                            <div>
                                <Label>Existencias:<input type="text " class="input1000 " readonly="readonly " value="{{prodIdentity.Cantidad}} "></Label>
                            </div>
                            <label class="prodInfo ">Producto: {{prodIdentity.Producto}}</label><br>
                            <label class="prodInfo ">Unidad: {{prodIdentity.Unidad}}</label><br>
                            <label class="prodInfo ">Id: {{prodIdentity.Id}}</label><br>
                            <label class="prodInfo ">Clase Producto: {{prodIdentity.Clase_Producto}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container top" *ngIf="!listProdIdentity">
            <div class="row align-items-end">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 top top2">
                    <div><label>Fecha</label></div>
                    <input type="date" class="input110 obsermov">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 top top2"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 top top2">
                    <textarea class="obsermov" placeholder="Observación" #Observacion="ngModel" name="Observacion" [(ngModel)]="_observacion"></textarea>
                    <i class="far fa-check-circle" id="searchClient" (click)="confirmTrans()"></i>
                    <i class="fas fa-ban" id="searchClient" (click)="cancelTrans()"></i>
                </div>
                <div class="col"></div>
            </div>
        </div>

        <div class="container top" *ngIf="errorMessageProd && !listProdIdentity">
            <div id="error" class="text-center">
                <div class="alert text-danger" role="alert">
                    {{errorMessageProd}}
                </div>
            </div>
        </div>

        <div class="container" *ngIf="!listProdIdentity">
            <div class="row align-self-end">
                <div class="col-lg-8 col-md-8"></div>
                <div class="col">
                    <div id="error">
                        <div class="alert text-alert" role="alert">
                            <div>
                                <Label class="monto">Monto</Label>
                            </div>
                            <label class="prodInfo ">Sub Total: </label><br>
                            <label class="prodInfo ">Cargo: </label><br>
                            <label class="prodInfo ">Descuento: </label><br>
                            <label class="prodInfo ">Total: </label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>
        </div>
    </div>
</div>